@{
    ViewBag.Title = "Home Page";
}

<div class="mainPageBG">
</div>
    <div class="mainHeader">
        <div style="margin-left:2em">
        <h1>UAS</h1>
        <h2> </h2>
        <h3>A place for Drone pilot to go beyong</h3>
        <p></p>
        <p><a href="https://asp.net" class="w3-button w3-black w3-border w3-hover-indigo w3-round-large">Login</a></p>
        </div>
    </div>

