@using WebAppIdenTestEF.Models
@model LoginViewModel
@{
    ViewBag.Title = "LoginCSS";
}
<link href="@Url.Content("~/Content/Login.css")" rel="stylesheet">

<h3>Use a local account to log in.</h3>
@*<form asp-controller="Account" asp-action="LoginCSS" method="post">*@
@using (Html.BeginForm("LoginCSS", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

<div class="imgcontainer">
    <img src="~/images/Asset 1.png" width="150" alt="Avatar">
</div>

<div class="container">

    <label for="Email"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="Email" required>

    <label for="Password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="Password" required>

    <button type="submit">Login</button>
    <label>
        <input type="checkbox" checked="checked" name="Remember"> Remember me
    </label>
</div>

<div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
</div>

}

